body {
    background-color:  hsl(30, 54%, 90%);
}

main {
    width: 35%;
    height: 90%;
    margin: auto;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    margin-top: 10%;
    margin-bottom: 12%;
}

img {
    max-width: 70vw;
    max-height: 45vh;
width: 34vw;
height: 30vh;
border-radius: 5%;
box-sizing: border-box;
}

.Preparation {
    background-color: hsl(330, 100%, 98%);
    box-sizing: border-box;
    padding: 3px 18px;
}

.Preparation li {color: hsl(332, 51%, 32%);}

#prep {color: hsl(332, 51%, 32%);
font-size: large;
}

h2, li ,.kcal {
    color: hsl(14, 45%, 36%);
}

p {
    color: black;
    font-size: 16px;
}

span {font-weight: normal;}

table {border-collapse: collapse;
width: 100%;
}
td {padding: 10px;}
tr {
    border-bottom: 2px solid #ddd;
    justify-content: space-between;
}

.kcal {
    font-weight: bold;

}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }